<%- include('../header') %>

<form method="POST" action="/publicacoes/nova">
    <div class="form-group">
             <label for="titulo">Título</label>
             <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Insira o título" >
    </div>

    <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria" name="categoria">
                <% categorias.forEach(categoriaNew => { %>
                    <option value="<%= categoriaNew.id %>"><%= categoriaNew.categoria %></option>
                <% }) %>
            </select>
    </div>

    <div class="form-group">
             <label for="conteudo">Conteúdo</label>
             <textarea  type="text" class="form-control" id="conteudo" name="conteudo" placeholder="Insira o conteúdo"  ></textarea >
    </div>
    <button type="submit" class="btn btn-light">Salvar</button>
</form>

<%- include('../footer') %>